<%= component "shared/page_title", title: t('.title', number: @prayer_vigil.walk_number) do %>
  <%= link_to t('.mail_reminder'), "#", class: "btn btn-primary cursor-not-allowed" %>
<% end %>

<div class="card my-8">
  <%= render partial: "bookings", locals: { bookings: @bookings }%>
</div>