<%= component "shared/page_title", title: t('.title', number: @walk_number) do %>
  <%= link_to t('.mail_reminder'), "#", class: "btn btn-primary disabled" %>
<% end %>

<div class="card my-8">
  <%= render partial: "bookings", locals: { prayer_vigil: @prayer_vigil }%>
</div>