.row
  .col.d-flex.justify-content-between.align-items-center.mb-3
    %h2.ps-2.border-bottom.w-25= t(".title")
    - # might implement later
    -# - if current_user.has_role?(:superadmin)
    -#   = t('.new_account_btn')
  = turbo_frame_tag Account.new
  .pb-3
    = render partial: "accounts_table", locals: { accounts: @accounts }
