<div class="row">
  <div class="col d-flex justify-content-between align-items-center mb-3">
    <h2 class="ps-2 border-bottom w-25"><%= t(".title") %></h2>
    <% if current_user.has_role?(:superadmin) %>
      <%= link_to t('.new_account_btn'), "#", class: "btn btn-link", data: { turbo_stream: dom_id(Account.new) } %>
    <% end %>
  </div>

  <%= turbo_frame_tag Account.new %>
  <div class="pb-3">
    <%= render partial: "accounts_table", locals: { accounts: @accounts } %>
  </div>
</div>