<div class="row">
  <div class="col d-flex justify-content-between align-items-center mb-3">
    <h2 class="ps-2 border-bottom w-25">Accounts</h2>
    <%= link_to "New Account", "#", class: "btn btn-primary", data: { turbo_stream: dom_id(Account.new) } %>
  </div>
</div>

<%= turbo_frame_tag Account.new %>
<div class="pb-3">
  <%= render partial: "accounts_table", locals: { accounts: @accounts } %>
</div>