<h1>Accounts</h1>

<div class="card">
  <div class="card-body">
    <%= render partial: "accounts", locals: { accounts: @accounts } %>

    <div class="row">
      <div class="col d-flex justify-content-between align-items-center mb-3">
        <h2 class="ps-2 border-bottom w-25">Users</h2>
        <%= link_to "New User", new_admin_account_user_path, class: "btn btn-primary", data: { turbo_frame: "new_account_user" } %>
      </div>
    </div>

    <%= turbo_frame_tag "new_account_user", target: "_top" %>
    <%= render partial: "users_table", locals: { users: @account.users } %>

  </div>
</div>