<div class="container w-full sm:w-3/4 mx-auto my-8">
  <h1 class="text-center mb-8">Online Application</h1>
  <div class="mr-auto place-self-center lg:col-span-7">
    <p class="text-xl mb-4">
      Applicants for the Emmaus Walk must first have a sponsor. This can be any youth or adult who has attended an
      Emmaus-type retreat through the Presbyterian, Episcopal or Catholic Church, including youth from a Chrysalis,
      Journey, and Kayak, and any adults who have attended Emmaus, Kairos, Kairos Outside, and Cursillo (Presented by
      the Catholic church and the original model for Emmaus). Once a person has attended any one of these weekend
      retreats, that person may sponsor an appropriate candidate for any of these weekends.
    </p>
    <p class="text-xl mb-4">
      This Online Application includes two parts, one for the attendee, called a pilgrim, and one for the sponsor. Both
      sections much be filled out completely. At the end of the Online Application, there will be a choice to either
      mail your payment (Deposit or full amount), or to pay via PayPal. Either method can be used but the application
      will not logged in until the application has been reviewed by both the Community Registrar and the Community
      Treasurer.
    </p>
  </div>
</div>
