<h1>Admin::AccountUsers#index</h1>
<p>Find me in app/views/admin/account_users/index.html.erb</p>

<div class="card">
  <div class="card-body">
    <h4>Users</h4>

    <%= form_with(url: new_admin_account_user_path) do |f| %>
      <%= f.text_field :email %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
