<div class="row">
  <div class="col d-flex justify-content-between align-items-center">
    <h1 class="mb-0"><%= yield :title %></h1>
    <%= link_to root_path, class: "btn btn-outline-success" do %>
      <i class="bi bi-arrow-bar-left"></i>
      <span><%= t('.back_to_app') %></span>
    <% end %>
  </div>
</div>
