%footer.bg-light.footer.mt-auto.py-3
  .container.d-flex.justify-content-between.mx-auto.text-muted
    %span
      © #{Date.today.year} #{t('community_title')}
    %ul.d-inline.float-end.list-inline.mb-0
