#toast.container.position-relative
  .toast.position-absolute.my-2.top-0.end-0{"aria-atomic" => "true", "aria-live" => "assertive", "data-controller" => "toast", "data-delay" => "5000", :role => "alert"}
    %div{:class => "toast-body border-start border-3 border-#{bootstrap_class_for(msg_type)}"}
      .d-flex.justify-content-between.align-content-center
        = message
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}
