<li>
  <button id="dropdownUserNavbarLink" data-dropdown-toggle="dropdownUserNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
    <%= t('.members') %>
    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>
  <!-- Dropdown menu -->
  <div id="dropdownUserNavbar" class="nav-dropdown-menu divide-y divide-gray-100">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
      <li><%= link_to t('shared.user_profile.members_area'), members_path, class: "nav-link-dropdown" %></li>
    </ul>
    <div class="py-1">
      <%= button_to t('logout_btn'), destroy_session_path(user), method: :delete, class: "nav-link-dropdown" %>
    </div>
  </div>
</li>