%h1 Welcome


.row
  .col-12.col-md-6
    %p.lead
      Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
  .col-12.col-md-6
    %iframe{width: "560", height: "315", src: "https://www.youtube.com/embed/PvS8AJOZs4s?si=wd3AaKkdriI37V5-", title: "YouTube video player", frameborder: "0",  allow: "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"}