<div class="w-full sm:w-1/2 mx-auto my-8">
  <div class="flex justify-center">
    <%= render(Shared::PageTitleComponent.new(title: t('.title'))) %>
  </div>

  <div class="mt-8">
    <%= month_calendar(events: @events, attribute: :start_time, end_attribute: :end_at) do |date, events| %>
      <% events.each do |event| %>
      <%= render(Event::EventComponent.new(event: event)) %>
      <% end %>
    <% end %>
  </div>
</div>



