<div class="w-full sm:w-1/2 mx-auto my-8">
  <div class="flex justify-center">
    <%= render(Shared::PageTitleComponent.new(title: @event.event_title)) %>
  </div>

  <div></div>

  <%#= @event.address.latitude %>
  <%#= @event.address.longitude %>
</div>