.card.w-50.shadow-sm.info-card
  .card-body.p-4
    .card-title
      %h2.h3= t('.info')

    .card-text
      - download_file = MediaUpload.friendly.find_by(slug: 'application') unless MediaUpload.friendly.find_by(slug: 'application').nil?
      = t(".are_you_interested_html")
      = t(".sponsor_someone_html")
      - unless download_file.nil?
        or
        = link_to "download", rails_blob_path(download_file.media_file, disposition: 'attachment')
        an application to print and mail to us

