.card.w-50.shadow-sm.info-card
  .card-body.p-4
    .card-title
      %h2.h3= t('.info')

    .card-text
      - download_file = MediaUpload.friendly.find_by(slug: 'application') unless MediaUpload.friendly.find_by(slug: 'application').nil?
      Are you interested in the Walk to Emmaus? Be sure to check out our Information and our
      = link_to "Sponsorship", sponsorship_path
      page to learn more.
      If you are ready to sponsor someone, you can either register them with at the Online Application page
      - unless download_file.nil?
        or
        = link_to "download", rails_blob_path(download_file.media_file, disposition: 'attachment')
        an application to print and mail to us

