.card.w-50.shadow-sm.info-card
  .card-body.p-4
    .card-title
      %h2.h3 Interested for More?

    .card-text
      Are you interested in the Walk to Emmaus? Be sure to check out our Information and our Sponsorship page to learn more.
      If you are ready to sponsor someone, you can either register them with at the Online Application page or download an application to print and mail to us.

