.card.border-0.bg-light.shadow-none.mt-4.mt-sm-0
  .card-body.p-0.p-sm-4
    .card-title
      %h2.h3
        = t('.interested')

    = link_to attending_path do
      %img.img-fluid.rounded.my-2{src: image_url('walking.webp'), alt: "Card image cap"}

    .card-text
      Are you interested in attending an Emmaus weekend? Every person who attends the walk to Emmaus has a “sponsor” who
      supports and encourages him/her before …

      %div
        = link_to attending_path, class: "btn mt-3 px-0 read-more" do
          = t('continue_reading')
          %i.bi.bi-arrow-right