.card.border-0.bg-light.shadow-none
  .card-body.p-4
    .card-title
      %h2.h3
        = t('.registration')

    = link_to "#" do
      %img.img-fluid.rounded.my-2{src: image_url('registration.webp'), alt: "Card image cap"}

    .card-text
      Did you know that you can register an applicant online? Try our new online form and we will be in touch soon.
      Thank you in advance for your willingness to serve. On this page, you will find …

      %div
        = link_to "#", class: "btn mt-3 px-0 read-more" do
          = t('continue_reading')
          %i.bi.bi-arrow-right