.container.w-100.w-md-75.mx-auto.mt-5
  %h1.text-center.mb-5 Attending

  %p.display-6.text-center.mb-5 Are you interested in attending an Emmaus weekend? Every person who attends the walk to Emmaus has a “sponsor”who supports and encourages him/her before, during, and after the Emmaus experience.

  %div.lead
    %p
      Sponsorship is the way in which the Emmaus experience is passed on from person to person,
      reflecting the manner in which God purposefully reaches out to people through other people.

    %p
      After an Emmaus Weekend, you may want to share the gift of those three days with others.
      Sponsorship provides you with a caring and disciplined way to share. And in doing so you, the sponsor, participates in and demonstrate God’s outreaching love.

    %p
      %strong Sponsorship is taken for granted in many communities.
      The assumption is that everyone knows the how and why of sponsorship. Sometimes sponsorship is only discussed with reference to the number of participants signed up for an Emmaus Weekend.

    %p
      Sponsorship is the most important job in the Emmaus Movement.
      It is a job shared by the adults who have been through Emmaus and the youth who have been through
      Chrysalis Flights and Journeys. It is more than simply “signing people up.”
      The importance of an Emmaus Community being educated about good sponsorship cannot be overemphasized.
      The quality of sponsorship impacts the new participants, the health and effectiveness of the Emmaus Movement,
      and the churches being affected by Emmaus.

    %p
      The aim of sponsorship is the same as the aim of Emmaus : the spiritual growth of all Christians as disciples of
      Jesus Christ through churches and their church groups. Every sponsor should reflect upon his or her motivation
      for wanting to sponsor another youth and make sure it is consistent with this aim.

    %p
      Reasons NOT to sponsor someone are:
      %ul
        %li to get someone to go to Emmaus
        %li to get all of my friends to go
        %li to fix a young person’s problems or crisis
        %li to have a full weekend
        %li to reproduce one’s own religious experience in others

    %p
      Sponsorship can be motivated, however, by a number of hopes and prayers for people which are consistent
      with the aim of Emmaus. These include giving youth the gift of three days apart:
      %ul
        %li to experience the accepting and healing grace of God through Christian community
        %li to realize they are precious in God’s eyes, that they are here on this earth for a holy purpose
        %li to discuss without judgment their questions and struggles as persons with peers and mature Christians
        %li to hear anew the gospel of God’s love in Jesus Christ and the basics of Christian faith and life
        %li to make friends with others who share the faith and will support each other in living as Christians
        %li to develop relationships with mature Christian adults, relationships which might extend beyond the three days
        %li to be strengthened in their decisions to follow Jesus
        %li to be better prepared to live as Christian witnesses in home, church, and community
        %li to learn what goes into building their lives and relationships on a solid foundation
        %li to bring new vitality to the church upon returning, to inspire the sponsorship of other youth, to energize the body of Christ through young people whose hearts are on fire with the love of Christ.

    %p
      Go to the <a href="#">Downloads</a> page to download an application to file your pilgrim’s application online

  .row.justify-content-center.mt-5
    .col-12.d-flex.justify-content-center
      = render "static/info_card"