<div class="container w-full sm:w-3/4 mx-auto my-8">
  <h1 class="text-center h2 mb-8"><%= t(".sponsorship") %></h1>

  <div class=" mb-5">
    <p class="mb-5">
      Each person who attends The Walk to Emmaus® has a sponsor. A sponsor is a person who has been through an Emmaus
      experience and is willing to share that experience with another new Emmaus participant.
    </p>

    <p class="mb-5">
      The sponsorship of a previous participant frees the current participant from any personal responsibilities that might
      distract him or her while on the experience. Sponsorship also undergirds each participant’s 72-hour experience with
      prayer and other expressions of God’s love.
    </p>

    <p class="mb-5">
      According to the dictionary, a sponsor is one who takes responsibility for another. The suffix “-ship” refers to the
      skill involved in the activity. So sponsorship is the skill of taking responsibility for another.
    </p>

    <p>
      Adapted from: <cite>Sponsorship by Richard and Janine Gilmore. Copyright © 1998 by the Upper Room.</cite>
    </p>
  </div>
</div>