<div class="flex justify-center w-full mt-8">
  <div class="block p-6 w-full sm:w-1/2">

    <%= component "shared/page_title", title: t("messages.index.thank_you") %>

    <p class="my-8">
      <%= t("messages.index.thank_you_message") %>
    </p>

  </div>
</div>
