<div class="my-3 text-black dark:text-gray-600 uppercase">
  <%= link_to resource_url do %>
    <div class="flex border-b-2 border-b-red-500 w-2/3">
      <strong class="font-semibold text-gray-900 dark:text-white"><%= t("shared.continue_reading") %></strong>
      <span class="ml-2">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </span>
    </div>
  <% end %>
</div>