<%= render(Shared::PageTitleComponent.new(title: t('admin.editable.title'))) do %>
  <%= link_to new_admin_event_path, class: 'btn btn-primary ms-3 ms-md-0' do %>
    <%= t(".add_editable") %>
  <% end if current_user.has_role?(:superadmin) %>
<% end %>

<div class="card my-8">
  <p class="mb-8 text-center font-bold">add notes</p>
  <%= render partial: "editables", locals: { editables: @editables} %>
</div>