<p>Thank you for registering for the <%= @booking.prayer_vigil.title %> Prayer Vigil</p>

<dl>
  <dt>Event: </dt>
  <dd><%= @booking.prayer_vigil.title %></dd>
  <dt>Name: </dt>
  <dd><%= @booking.name.titleize %></dd>
  <dt>Time: </dt>
  <dd><%= @booking.prayer_slot.start_time.strftime("%b %d, %y - %I:%M %p") %></dd>
</dl>

Coastal Carolina Community Prayer Coordinator