<p>Your Prayer Vigil reservation for Walk <%= @booking.prayer_vigil.walk_number %> @ <%= @booking.prayer_slot.start_time.strftime("%b %m, %I:M %p") %> has been canceled.</p>

<p>Thank you for your support</p>

