= turbo_stream.replace "edit_email_account_user_#{params[:account_user_id]}" do
  = render partial: "row-email", locals: { account_user: @account_user }
= turbo_stream.prepend "toasts", partial: "shared/notices"
