.container.w-75.mt-5
  %h1.text-center.mb-5 Directions

  .row
    .col-9.mx-auto
      There are many opportunities to support an Emmaus. Read below for direction to all weekend services.

      %h2.h3.mt-5 Retreat Center

      %p.mb-3
        %a{href: "", target: "_blank", 'aria-label': ""}
          Salt and Light Christian Center
        %span (Topsail Island)
        %br
        2006 Wicker St.
        %br
        North Topsail Beach, NC 28460
        %br
        %a{href: "tel:9105452015"}
          (910) 545-2015

      %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.100731622702!2d-77.50815358839655!3d34.44959077289734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89a9a3afee93912b%3A0x4053b9f14d520abd!2s2006%20Wicker%20St%2C%20North%20Topsail%20Beach%2C%20NC%2028460!5e0!3m2!1sen!2sus!4v1699389856255!5m2!1sen!2sus", width: "600", height: "450", style: "border:0;", allowfullscreen: "", loading: "lazy", referrerpolicy: "no-referrer-when-downgrade"}

      %h2.h3.mt-5 Send-off

      %p
        %strong
          %em Sponsors and Pilgrims
        arrive at Salt & Light Christian Center, Topsail Island at 6:30 PM Thursday of the walk and settle the Pilgrims. ]\
        The Sponsors then go to the Chapel area for Sponsor Hour to begin at 7:00 PM.

      %h2.h3.mt-5 Candlelight

      %p
        Candlelight is held at Faith Harbor UMC with fellowship at 7:30 PM and worship at 8:00 PM on the Saturday of the walk.

      %p.mb-3
        %strong Faith Harbor United Methodist Church
        %br
        14201 NC Highway 50
        %br
        Surf City, NC 28445-6569
        %br
        %a{href: "tel:9103284422"}
          (910) 328-4422

      %iframe{:allowfullscreen => "", :height => "450", :loading => "lazy", :referrerpolicy => "no-referrer-when-downgrade", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.6028597227905!2d-77.55838728839711!3d34.43684157290202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89a9a2847c2a6ce5%3A0xc05c80eca3cf2577!2s14201%20NC-50%2C%20Surf%20City%2C%20NC%2028445!5e0!3m2!1sen!2sus!4v1699390263855!5m2!1sen!2sus", :style => "border:0;", :width => "600"}

      %h2.h3.mt-5 Closing

      %p
        Closing is held at Faith Harbor UMC at 4:30 PM on the Sunday of the walk.